doctype html
html
    head
        title.
            GrowLab
        meta(name='description', content='A Washington DC based hydroponic lab, growing cannabis using a deep water culture system. ')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        link(rel='stylesheet', href='app.css', inline='true')
    body
        .section-container
            section.section-container.section-vertical
                section
                    img#camera(src='https://growlab.space/cameras/visible-one/')
                    .section-actions
                        span.camera-action.active(onclick='setCamera(event, "https://growlab.space/cameras/visible-one/")') Visible
                        span.camera-action(onclick='setCamera(event, "https://growlab.space/cameras/infrared/")') Infrared
                        span.camera-action(onclick='setCamera(event, "https://growlab.space/cameras/bucket-1/")') 1
                        span.camera-action(onclick='setCamera(event, "https://growlab.space/cameras/bucket-2/")') 2
                        span.camera-action(onclick='setCamera(event, "https://growlab.space/cameras/bucket-3/")') 3
                        span.camera-action(onclick='setCamera(event, "https://growlab.space/cameras/bucket-4/")') 4
                    #grow-stage.section-main ??
                    #grow-info
                    #logo
                        include logo
                    .section-meta
                        #system-state ??

                section(data-label='Log')
                    #log

            section.section-container.section-vertical
                section(data-label='Tent')
                    #tent-temperature.section-main ??
                    #tent-temperature-chart
                    .section-meta
                        #ac-status(data-label='AC:') ??
                        #exhaust-status(data-label='Exhaust:') ??
                section(data-label='Humidity')
                    #tent-humidity.section-main ??
                    #tent-humidity-chart
                    .section-meta-alt
                        span#svp SVP: ??
                        span#vpd VPD: ??
                section(data-label='Light')
                    #tent-illuminance.section-main ??
                    #tent-illuminance-chart
                    .section-meta
                        #light-status(data-label='Light:') ??
                    .section-meta-alt
                        span#tent-full-spectrum Full: ??
                        span#tent-infrared-spectrum IR: ??
                        span#tent-visible-spectrum Visible: ??

            section.section-container.section-vertical
                section(data-label='Reservoir Temperature')
                    #reservoir-temperature.section-main ??
                    #reservoir-temperature-chart
                section(data-label='Reservoir PH')
                    #reservoir-ph.section-main ??
                    #reservoir-ph-chart
                section(data-label='Water')
                    #reservoir-water-level.section-main ??
                    #reservoir-water-level-chart
                    .section-meta
                        #drain-pump-status(data-label='Drain Pump:') ??
                        #drain-valve-status(data-label='Drain Valve:') ??
                        #fill-valve-status(data-label='Fill Valve:') ??
                        #grow-system-pumps-status(data-label='System Pumps:') ??
    script(src='https://growlab.space/socket.io/socket.io.js')
    script(src='vendor.js?__inline=true')
    script(src='app.js?__inline=true')
