doctype html
html
    head
        title.
            grow lab
        link(rel='stylesheet', href='app.css', inline='true')
    body
        .section-container
            section.section-container.section-vertical
                section(data-label='Stage')
                    .section-main Seedling (Week 1)
                section(data-label='System State')
                    .section-main Germinating
            section(data-label='Tent')
                #tent-temperature.section-main ??
                #tent-humidity.section-main ??
                .section-meta
                    #ac-status(data-label='AC:') ?? 
                    #exhaust-status(data-label='Exhaust:') ?? 
            section.section-container.section-vertical
                section(data-label='Reservoir Temperature')
                    #reservoir-temperature.section-main ??
                section(data-label='Reservoir PH')
                    #reservoir-ph.section-main ??
        .section-container
            section(data-label='Light')
                #tent-illuminance.section-main ??
                .section-meta
                    #light-status(data-label='Light:') ??
                .section-meta-alt
                    span#tent-full-spectrum Full: ??
                    span#tent-infrared-spectrum IR: ??
                    span#tent-visible-spectrum Visible: ??
            section(data-label='Water')
                #reservoir-water-level.section-main ??
                .section-meta
                    #drain-pump-status(data-label='Drain Pump:') ??
                    #drain-valve-status(data-label='Drain Valve:') ??
                    #fill-valve-status(data-label='Fill Valve:') ??
                    #grow-system-pumps-status(data-label='System Pumps:') ??
        .section-container
            section(data-label='Log')
                #log
    script(src='/socket.io/socket.io.js')
    script(src='vendor.js?__inline=true')
    script(src='app.js?__inline=true')
