doctype html
html
    head
        title.
            grow lab
        link(rel='stylesheet', href='app.css', inline='true')
    body
        .section-container
            section.section-container.section-vertical
                section
                    .section-main Seedling (Week 1)
                    .section-meta Started at
                    .section-meta Time Left
                section
                    .section-main Germinating
                    .section-meta Started At
                    .section-meta Time Left
            section
                .section-main 75°
                .section-secondary Humidity: 55%
                .section-secondary AC: Off
                .section-secondary Exhaust: On
                .section-secondary CO2: ??
            section.section-container.section-vertical
                section
                    .section-main 68°
                section
                    .section-main 6.2
        .section-container
            section
                .section-main 60,000
                .section-secondary Light: On
            section
                .section-main 30
                .section-secondary PPM
    script(src='app.js?__inline=true')
    script(src='/socket.io/socket.io.js')
