doctype html
html
    head
        title.
            grow lab
        link(rel='stylesheet', href='app.css', inline='true')
    body
        .section-container
            section.section-container.section-vertical
                section
                    .section-main Seedling (Week 1)
                    .section-meta Started at
                    .section-meta Time Left
                section
                    .section-main Germinating
                    .section-meta Started At
                    .section-meta Time Left
            section
                #tent-temperature.section-main ??
                #tent-humidity.section-secondary ??
                #ac-status.section-secondary
                #exhaust-status.section-secondary
            section.section-container.section-vertical
                section
                    #reservoir-temperature.section-main ??
                section
                    #reservoir-ph.section-main ??
        .section-container
            section
                #tent-illuminance.section-main ??
                #light-status.section-secondary
                #tent-full-spectrum.section-secondary
                #tent-infrared-spectrum.section-secondary
                #tent-visible-spectrum.section-secondary
            section
                #reservoir-water-level.section-main ??
                #drain-pump-status.section-secondary
                #drain-valve-status.section-secondary
                #fill-valve-status.section-secondary
                #grow-system-pumps-status.section-secondary
    script(src='/socket.io/socket.io.js')
    script(src='vendor.js?__inline=true')
    script(src='app.js?__inline=true')
