@import 'nib'
@import 'variables.styl'

#log
    height 249px
    padding 5px
    overflow hidden
    overflow-y scroll
    text-align left
    span + span
        margin-left 10px

    .info
        color $log-info
    .warning
        color $log-warning
    .error
        color $log-error
        