@import 'nib'
@import 'variables.styl'

.section-container
    background $background
    display flex
    flex-direction row
    flex-wrap nowrap
    align-content flex-start
    justify-content space-evenly

.section-vertical
    flex-direction column

section
    background $section-background
    flex 1 1 20%
    margin 2px
    min-height 100px
    color white
    text-align center

.section-main
    font-size 3em
    margin 1em 0
