@import 'nib'
@import 'variables.styl'

.section-vertical
    flex-direction column
    display flex

section
    position relative
    border 1px solid $alt
    margin 15px
    padding 15px 0
    color white
    text-align center
    &.section-container
        border none
        margin 0
        padding 0

    &:before
        absolute top -15px left 10px
        content attr(data-label)
        background $background
        color $alt
        padding 5px

    img
        max-height 300px
        width 100%

.section-meta
    absolute top 5px right 5px

    div
        position relative

    div:before
        color $alt
        content attr(data-label)
        absolute left -150px
        width 145px
        text-align right

.section-meta-alt
.section-actions
    span + span
        margin-left 10px

.section-actions
    span
        cursor pointer
        &:not(.active)
            color rgba(255,255,255,0.2)

.section-main
    font-size 3em

@media (min-width: 800px)
    section
        flex 1 1 20%

    .section-container:not(section)
        background $background
        display flex
        flex-direction row
        flex-wrap nowrap
        align-content flex-start
        justify-content space-evenly
