doctype html
html
    head
        title.
            GrowLab
        meta(name='description', content='A Washington DC based hydroponic lab, growing cannabis using a deep water culture system. ')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        link(rel='apple-touch-icon' sizes='57x57' href='/apple-icon-57x57.png')
        link(rel='apple-touch-icon' sizes='60x60' href='/apple-icon-60x60.png')
        link(rel='apple-touch-icon' sizes='72x72' href='/apple-icon-72x72.png')
        link(rel='apple-touch-icon' sizes='76x76' href='/apple-icon-76x76.png')
        link(rel='apple-touch-icon' sizes='114x114' href='/apple-icon-114x114.png')
        link(rel='apple-touch-icon' sizes='120x120' href='/apple-icon-120x120.png')
        link(rel='apple-touch-icon' sizes='144x144' href='/apple-icon-144x144.png')
        link(rel='apple-touch-icon' sizes='152x152' href='/apple-icon-152x152.png')
        link(rel='apple-touch-icon' sizes='180x180' href='/apple-icon-180x180.png')
        link(rel='icon' type='image/png' sizes='192x192'  href='/android-icon-192x192.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='96x96' href='/favicon-96x96.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
        link(rel='manifest' href='/manifest.json')
        meta(name='msapplication-TileColor' content='#ffffff')
        meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
        meta(name='theme-color' content='#ffffff')
        link(rel='stylesheet', href='app.css', inline='true')
    body
        .section-container
            section.section-container.section-vertical
                section
                    img#camera(src='https://growlab.space/cameras/visible-one/')
                    .section-actions
                        span.camera-action.active(onclick='setCamera(event, "https://growlab.space/cameras/visible-one/")') Visible
                        span.camera-action(onclick='setCamera(event, "https://growlab.space/cameras/infrared/")') Infrared
                        span.camera-action(onclick='setCamera(event, "https://growlab.space/cameras/bucket-1/")') 1
                        span.camera-action(onclick='setCamera(event, "https://growlab.space/cameras/bucket-2/")') 2
                        span.camera-action(onclick='setCamera(event, "https://growlab.space/cameras/bucket-3/")') 3
                        span.camera-action(onclick='setCamera(event, "https://growlab.space/cameras/bucket-4/")') 4
                    #grow-stage.section-main ??
                    #grow-info
                    #logo
                        img(src='https://docs.google.com/uc?id=0B-H6JCTpHFZbR2tVYzZvZjBCWUE')
                    .section-meta
                        #system-state ??

                section(data-label='Log')
                    #log

            section.section-container.section-vertical
                section(data-label='Tent')
                    #tent-temperature.section-main ??
                    #tent-temperature-chart
                    .section-meta
                        #ac-status(data-label='AC:') ??
                        #exhaust-status(data-label='Exhaust:') ??
                section(data-label='Humidity')
                    #tent-humidity.section-main ??
                    #tent-humidity-chart
                    .section-meta-alt
                        span#svp SVP: ??
                        span#vpd VPD: ??
                section(data-label='Light')
                    #tent-illuminance.section-main ??
                    #tent-illuminance-chart
                    .section-meta
                        #light-status(data-label='Light:') ??
                    .section-meta-alt
                        span#tent-full-spectrum Full: ??
                        span#tent-infrared-spectrum IR: ??
                        span#tent-visible-spectrum Visible: ??

            section.section-container.section-vertical
                section(data-label='Reservoir Temperature')
                    #reservoir-temperature.section-main ??
                    #reservoir-temperature-chart
                section(data-label='Reservoir PH')
                    #reservoir-ph.section-main ??
                    #reservoir-ph-chart
                    .section-actions
                        span.active(onclick='get_ph_chart(event, "12h")') 12h
                        span(onclick='get_ph_chart(event, "3d")') 3d
                        span(onclick='get_ph_chart(event, "1w")') 1w
                section(data-label='Water')
                    #reservoir-water-level.section-main ??
                    #reservoir-water-level-chart
                    .section-meta
                        #drain-pump-status(data-label='Drain Pump:') ??
                        #drain-valve-status(data-label='Drain Valve:') ??
                        #fill-valve-status(data-label='Fill Valve:') ??
                        #grow-system-pumps-status(data-label='System Pumps:') ??
    script(src='https://growlab.space/socket.io/socket.io.js')
    script(src='vendor.js?__inline=true')
    script(src='app.js?__inline=true')
