@import 'nib'
@import 'variables.styl'

#background-header
    background linear-gradient(#2F3456, #49526E 22%, #8497A7 83%, #B18D9E)
    absolute top left right
    height 150px

#background-subheader
    absolute top 150px left right
    height 30px
    background #F7F4E4

#background-subheader-two
    absolute top 180px left right
    height 30px
    background #F2EBDA
