@import 'nib'
@import 'variables.styl'

#brand
    margin 25px 0
    text-align center
    h1
        font-family 'Roboto', sans-serif
        font-weight 100
        font-size 3em
        text-align center
    img
        position relative
        width auto
