@import 'nib'
@import 'variables.styl'

section
    padding-bottom 2em
    min-height 100px

    .header
        font-size 0.8em
        font-weight 500
        letter-spacing -0.02em
        color #D59497
        text-transform uppercase
        padding 10px 0

    h1
        color #DE346A

@keyframes neon {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    }
}