@import 'nib'
@import 'variables.styl'

section
    border-top 2px solid $orange
    padding-bottom 1em
    min-height 100px

    .header
        font-family 'Russo One', sans-serif
        font-size 0.8em
        color $orange